<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Bookings</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td style="text-align: right"><%= link_to user.cached_bookings.count, user_bookings_path(user) %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<b>Users</b>
<%= link_to 'Create New', new_user_path %>
| <%= link_to 'All', users_path %>
| <%= link_to 'With No Bookings', with_no_bookings_users_path %>
| <%= link_to 'With At Least 1 Booking', with_atleast_one_booking_users_path %>
